$color-white: #d1d3d6;
$color-white-opacity: rgba(255, 255, 255, 0.2);

.dashboard {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 1em auto;
    font-size: 18px;

    button:focus-visible,
    input:focus-visible,
    textarea:focus-visible {
        box-shadow: var(--chakra-shadows-outline);
        outline: none;
    }

    .banner {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(130, 53, 255, .1);
        padding: 1em 0;
        position: relative;
        column-gap: 1em;

        .buttons {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            flex-direction: row;
            column-gap: 10px;

            button {
                background: $color-white-opacity;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                padding: 0.25em 0.5em;
                font-size: 14px;
                transition: background 0.2s ease-in-out;
                -webkit-transition: background 0.2s ease-in-out;
                -moz-transition: background 0.2s ease-in-out;
                -ms-transition: background 0.2s ease-in-out;
                -o-transition: background 0.2s ease-in-out;
                display: flex;
                align-items: center;
                column-gap: 4px;
                height: fit-content;

                &:hover {
                    background: rgba(224, 229, 237, 0.60);
                    transition: background 0.2s ease-in-out;
                    -webkit-transition: background 0.2s ease-in-out;
                    -moz-transition: background 0.2s ease-in-out;
                    -ms-transition: background 0.2s ease-in-out;
                    -o-transition: background 0.2s ease-in-out;
                }
            }

            .checkedicon {
                background: #0ACA88;
                border-radius: 16px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                -ms-border-radius: 16px;
                -o-border-radius: 16px;
                padding: 0.25em 0.5em;
                font-size: 14px;
                display: flex;
                align-items: center;
                column-gap: 4px;
                height: fit-content;
            }

            .labelicon {
                background: #224042;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                width: 40px;
                aspect-ratio: 1/1;
                display: grid;
                place-content: center;

                img {
                    width: 30px;
                }
            }
        }

        .bannerLeft {
            width: 20%;

            div {
                background: linear-gradient(90deg, rgba(255, 0, 107, 0.85) 0%, rgba(130, 53, 255, 0.85) 100%);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                width: 180px;
                aspect-ratio: 1/1;
                position: relative;
                border: 4px solid $color-white;
                overflow: hidden;

                img {
                    width: 140px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }
            }
        }

        .bannerRight {
            width: 80%;
            display: flex;
            flex-direction: column;
            row-gap: 6px;

            h1 {
                font-size: 28px;
                font-weight: bold;
            }

            div {
                display: flex;
                flex-direction: row;
                column-gap: 4px;
                align-items: center;
            }
        }

        .editButton {
            background: $color-white-opacity;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            padding: 0.25em 0.5em;
            font-size: 14px;
            transition: background 0.2s ease-in-out;
            -webkit-transition: background 0.2s ease-in-out;
            -moz-transition: background 0.2s ease-in-out;
            -ms-transition: background 0.2s ease-in-out;
            -o-transition: background 0.2s ease-in-out;
            display: flex;
            align-items: center;
            column-gap: 4px;
            height: fit-content;
            cursor: pointer;
            position: absolute;
            bottom: 1em;
            right: 0;

            &:hover {
                background: rgba(224, 229, 237, 0.60);
                transition: background 0.2s ease-in-out;
                -webkit-transition: background 0.2s ease-in-out;
                -moz-transition: background 0.2s ease-in-out;
                -ms-transition: background 0.2s ease-in-out;
                -o-transition: background 0.2s ease-in-out;
            }
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(130, 53, 255, .1);
        padding: 1em 0;
        position: relative;
        row-gap: 1em;

        h2 {
            font-size: 22px;
            font-weight: bold;
        }

        .aboutBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 1em;

            .aboutBoxInput {
                display: flex;
                flex-direction: column;
                row-gap: 4px;
                width: 30%;

                &:nth-last-child(2) {
                    width: 100%;
                }

                input,
                textarea {
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                    padding: 0.25em 0.5em;
                    background: rgba(225, 255, 255, 0.1);
                }

                textarea {
                    resize: none;
                    width: 100%;
                    height: 120px !important;
                }
            }

            button {
                margin-left: auto !important;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        row-gap: 1em;

        h2 {
            font-size: 22px;
            font-weight: bold;
        }

        .contentBox {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 1em;
            grid-row-gap: 1em;

            div:nth-child(1) {
                grid-area: 1 / 1 / 2 / 2;
            }

            div:nth-child(2) {
                grid-area: 1 / 2 / 2 / 3;
            }

            div:nth-child(3) {
                grid-area: 2 / 1 / 3 / 2;
            }

            div:nth-child(4) {
                grid-area: 2 / 2 / 3 / 3;
            }

            .contentBoxCard {
                display: flex;
                flex-direction: row;
                border-radius: 16px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                -ms-border-radius: 16px;
                -o-border-radius: 16px;
                border: 1px solid rgba(130, 53, 255, .1);
                box-shadow: 1px 1px 10px 4px rgba(130, 53, 255, .1);

                img {
                    width: 30%;
                    border-radius: 16px 0 0 16px;
                    -webkit-border-radius: 16px 0 0 16px;
                    -moz-border-radius: 16px 0 0 16px;
                    -ms-border-radius: 16px 0 0 16px;
                    -o-border-radius: 16px 0 0 16px;
                    object-fit: cover;
                    object-position: center;
                }

                .infos {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;
                    padding: 1em;
                    position: relative;

                    h3 {
                        font-weight: bold;
                    }

                    p {
                        font-size: 14px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 8;
                        overflow: hidden;
                    }

                    button {
                        background: $color-white-opacity;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        -ms-border-radius: 4px;
                        -o-border-radius: 4px;
                        padding: 0.25em 0.5em;
                        font-size: 14px;
                        transition: background 0.2s ease-in-out;
                        -webkit-transition: background 0.2s ease-in-out;
                        -moz-transition: background 0.2s ease-in-out;
                        -ms-transition: background 0.2s ease-in-out;
                        -o-transition: background 0.2s ease-in-out;
                        margin: auto 0 0 auto;

                        &:hover {
                            background: rgba(224, 229, 237, 0.60);
                            transition: background 0.2s ease-in-out;
                            -webkit-transition: background 0.2s ease-in-out;
                            -moz-transition: background 0.2s ease-in-out;
                            -ms-transition: background 0.2s ease-in-out;
                            -o-transition: background 0.2s ease-in-out;
                        }

                        &[disabled]:hover {
                            background: $color-white-opacity;
                            cursor: default;
                        }
                    }

                    .labelicon {
                        position: absolute;
                        bottom: 1em;
                        left: 1em;
                        display: flex;
                        flex-direction: row;
                        column-gap: 4px;
                        align-items: end;

                        p {
                            font-size: 12px;
                        }

                        div {
                            background: #224042;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            width: 40px;
                            aspect-ratio: 1/1;
                            display: grid;
                            place-content: center;

                            img {
                                width: 30px;
                            }
                        }
                    }
                }

            }

            .contentBoxCardDisabled {
                filter: opacity(0.3);
                -webkit-filter: opacity(0.3);
            }
        }
    }
}

@media (max-width: 1024px) {
    .dashboard {
        font-size: 16px;

        .banner {
            flex-direction: column;
            row-gap: 1em;
            align-items: center;

            .buttons {

                button,
                .checkedicon {
                    font-size: 12px;
                }

                .labelicon {
                    width: 30px;

                    img {
                        width: 20px;
                    }
                }
            }

            .bannerLeft {
                width: 100%;
                display: grid;
                place-content: center;

                div {
                    width: 160px;
                    border: 4px solid #f7fafc;

                    img {
                        width: 120px;
                    }
                }
            }

            .bannerRight {
                max-width: fit-content;
                margin: 0 auto;

                h1 {
                    font-size: 24px;
                }
            }

            .editButton {
                font-size: 12px;
                bottom: 1em;
            }
        }

        .about {
            padding: 2em 0;

            h2 {
                font-size: 18px;
            }

            .aboutBox {
                .aboutBoxInput {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;
                    width: 47.5%;

                    &:first-child {
                        width: 100%;
                    }

                    textarea {
                        height: 100px !important;
                    }
                }
            }
        }

        .content {
            h2 {
                font-size: 18px;
            }

            .contentBox {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, 1fr);

                div:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                }

                div:nth-child(2) {
                    grid-area: 2 / 1 / 3 / 2;
                }

                div:nth-child(3) {
                    grid-area: 3 / 1 / 4 / 2;
                }

                div:nth-child(4) {
                    grid-area: 4 / 1 / 5 / 2;
                }

                .contentBoxCard {
                    height: 186px;

                    .infos {
                        p {
                            font-size: 12px;
                            -webkit-line-clamp: 4;
                        }

                        button {
                            font-size: 12px;
                        }

                        .labelicon {
                            p {
                                font-size: 10px;
                            }

                            div {
                                width: 30px;

                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 640px) {
    .dashboard {
        font-size: 14px;

        .banner {
            padding: 3em 0 3em 0;

            .bannerLeft {
                div {
                    width: 120px;
                    border: 2px solid #f7fafc;

                    img {
                        width: 80px;
                    }
                }
            }

            .bannerRight {
                width: 100%;

                h1 {
                    font-size: 20px;
                    text-align: center;
                }
            }
        }

        .about {
            h2 {
                font-size: 16px;
            }

            .aboutBox {
                .aboutBoxInput {
                    width: 100%;

                    textarea {
                        height: 80px !important;
                    }
                }
            }
        }

        .content {
            h2 {
                font-size: 16px;
            }

            .contentBox {
                .contentBoxCard {
                    height: 170px;

                    .infos {
                        p {
                            font-size: 10px;
                        }

                        button {
                            font-size: 10px;
                        }

                        .labelicon {
                            p {
                                font-size: 8px;
                            }

                            div {
                                width: 20px;

                                img {
                                    width: 12px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}